body {
  font-family: sans-serif;
  text-align: left;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}
.container {
  padding-left: 1.4rem;
  padding-right: 1.2rem;
}
header {
  border-bottom: #CCC solid 1px;
  color: #CCC;
  background-color: #444;
  padding: 20px 0;
}
table {
  background-color: #f4f4f7;
  color: #444;
}
table th {
  background: #444;
  color: #f4f4f7;
}
table td,
table th {
  padding: .25rem 1rem;
}
table tr {
  background: #EEE;
}
table tr:nth-child(even) {
  background-color: #DDD;
}
.right {
  text-align: right;
}
h1 {
  font-size: 65px;
  line-height: 1.2em;
}
h3 {
  font-weight: 300;
}
pre {
  background-color: #CCC;
  padding: 0.2rem;
}
code {
  background-color: #CCC;
}
div.highlight {
  overflow: auto;
  background-color: #CCC;
  padding: 15px;
}
footer {
  background-color: #CCC;
  padding: 2rem 0;
  margin-top: 3rem;
}
