doctype html
html(lang="ja")
  head
    title=御茶会
    //- Meta
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="多様性のあるメンバーで構成されるグループ「御茶会」 オフィシャルサイト。")
    meta(name="author" content="御茶会")
    meta(property="og:url" content="https://otyakai.xyz")
    meta(property="og:site_name" content="御茶会 オフィシャルサイト")
    //- CSS
    link(rel="stylesheet" href="/main.css")
    //- highlight.js
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css")
  body
    header
      .container
        include _header.pug

    main
      .container
        block content

    footer
      .container
        include _footer.pug