extends _layout.pug

block head
    title="御茶会"

block content
  mixin member(name, job)
    tr
        td.right
            != name
        td
            != job
  
  p 御茶会は多種多様な趣味を持つメンバーが集まるウェブサークルです。

  p 御茶会傘下のクリエイティブ集団「竹輪部」は<a href="https://tkwb.oyakai.xyz">こちら</a>
  
  p '17年7月現在のアクティブメンバーは次のとおりです:
  table
      tr
          th.right 名前
          th 趣味・特技
      +member("otya", "Windowsアプリ開発, ゲーム開発, プチコン")
      +member("Alines Yoshi", "音楽ゲーム, マインクラフト, PC構築")
      +member("妹ちゃん", "料理, 数学, 英語, ゲーム")
      +member("mkc1370", "プログラミング, 数学, 絵")
      +member("おんみょ", "FPSゲーム, 絵")
      +member("燻製", "絵, 3DCG, 数学")
      +member("Ceibbit", "画像処理, プチコン, 絵")
      +member("スルメ", "Web開発, 音楽ゲーム")
      +member("Xeltica", "アプリ/ゲーム開発, 音楽, 絵, 音楽ゲーム")
      +member("とすけ", "アプリ開発, Web開発")
      +member("hnakai", "電子回路, 数学, きぐるみ")
      +member("Lv100", "DTM, 音楽ゲーム")
      +member("fivesika", "数学, 英語, プログラミング, ゲーム")
      +member("micra", "音楽ゲーム, 絵, マインクラフト")
      +member("麿", "数学, プログラミング")
      +member("抹茶", "統計, 深層学習, 数学, 絵, 女の子")
      +member("mintyan", "絵, 音楽ゲーム, FPSゲーム")
      +member("Melville", "物理, 動画制作, 数学, 絵, 音楽, アトリエシリーズ")
      +member("ゆうしゃアシスタント", "音MAD制作, DTM, FPSゲーム, 音楽ゲーム, 絵")
      +member("れいじゅ", "Macアプリ開発, DTM, ドット絵, 数学, 音楽ゲーム")
